{% extends "base.html" %}

{% block css %}
<style>
.top-lg {
	background-color: #f2f3f5;
	height: 310px;
	width: 100%;
}
.question-lg {
	display: block;
	margin: 0 auto;
	padding-top: 50px;
}
.ct-wrap {
	padding-top: 60px;
	color: #7e8d9a;
}
.p-r {
	position: relative;
}
.w-1k {
	width: 1000px;
	margin: 0 auto;
}
.askct {
	padding: 40px 0px;
}
.f-cb, .f-cbli li {
	zoom: 1;
}
.f-fl {
	float: left;
}
.pg {
	margin: 0 10px;
	padding: 0 22px;
	padding-bottom: 40px;
	margin-bottom: 40px;
	border-bottom: 1px solid #f2f3f5;
	line-height: 1.6em;
	font-size: 14px;
	color: #868788;
}
.pg .t {
	color: #060606;
	font-size: 16px;
	padding-bottom: 15px;
}
.pg .h {
	padding-bottom: 18px;
}
.pg .st {
	color: #2f2f2f;
}
.striking {
	color: #3cb3f6;
}
strong {
	color: #000;
}
</style>
{% endblock %}
{% block title %}常见问题-详情{% endblock %}
{% block header %}
  {% include 'component/login_bar.html' %}
{% endblock %}
{% block main %}
<div class="bd">
	<div class="top-lg">
		<img class="question-lg" src="/static/image/question_logo.png">
	</div>
	<div class="w-1k p-r f-cb askct">
		<div class="pg" id="a1">
			<h2 class="t">发布任务如何设置关键词，分类和价格区间?</h2>
			<div class="h">
				<p>最近很多商家在发布任务的时候，经常会出现 设置 搜关键词、分类、价格区间 错误，导致买家找不到商品，从而影响任务完成效率；</p>
				<p>因此，针对卖家发布任务常犯的几个错误总结如下：</p>
			</div>
			<div class="c">
				<p class="striking">问题一：商家设置的关键词太长或设置的关键词不是正常购物行为会搜索的关键词</p>
				<p>答：搜索关键词为您“宝贝标题”的一部分。一般来说，优先设置买家常用的搜索关键词，比如，可以根据淘宝搜索框的提示，设置关键词。对于新品或买家比较难搜索到的商品，可以先设置长一点的关键词，待一段时间，宝贝排名靠前后，再缩短关键词。</p>
				<p class="striking" style="padding-top: 16px;">问题二：在发布任务时候设置分类填错成了商品类目</p>
				<p>答：我们要求的是填写 买家在前台搜索关键词后， 买家可进行筛选 商品分类。不是商品所属类目。</p>
				<p class="striking" style="padding-top: 16px;">问题三：商品价格区间设置错误</p>
				<p>答：如，您的商品价格价格是99元，设置价格区间设置为   1-99元；因为淘宝的刷选价格区间的  1-99元，筛选出来的商品，是不包含99元商品的。因此，您在设置商品的价格区间时，需要高于99元，不可以直接是99元。</p>
				<p class="striking" style="padding-top: 16px;">问题四：上传商品主图，错误的上传成了搜索结果页面的截图</p>
				<p>答：请直接上传商品主图即可，不需要上传搜索结果页面的截图。</p>
			</div>
		</div>
		<div class="pg" id="a2">
			<h2 class="t">如何开通任务免审核？</h2>
			<div class="h">
				<p>由于平台目前商家越来越多，一般人工审核时间要1-2个小时不等；为了保证大家发布任务能及时放出展现，特推出了“免审资格”权限，建议每个商家都申请开通！</p>
			</div>
			<div class="c">
				<p class="striking">问题一：“免审用户”有什么优势？</p>
				<p>答：开通“免审资格”的商家发布任务后，不用经过平台的人工审核，会在5分钟内自动审核通过，不用再等待审核中浪费时间。</p>
				<p class="striking">问题二：平台对“免审用户”有什么要求？</p>
				<p>答：只有一个要求，就是发布任务信息必须准确（即买手可以顺利找到任务目标商品）。任务经核实确实错误导致买手找不到宝贝，会扣除10元一次作为处罚。</p>
				<p class="striking">问题三：如何开通“免审用户"？</p>
				<p>答：点击联系右侧的客服QQ联系，申请开通即可。</p>
			</div>
		</div>
		<div class="pg" id="b1">
			<h2 class="t">任务产品价格必须保留至任务结束方可变更</h2>
			<div class="h">
				<p>各位商家</p>
				<p>近期有多位买手反馈，商家价格变动造成买手支付的本金提高，为了避免类似情况发生，手赚平台制定以下规则及处罚措施</p>
			</div>
			<div class="c">
				<p class="striking">规则与措施</p>
				<p>1、在手赚平台发布的产品售价，必须保留到任务状态变更为“已完成”方可修改价格（即发放买手佣金）。</p>
				<p>2、发布任务前请仔细核对商品价格，并且查看活动价格设置是否已经设定，若产品价格与任务发布价格不符，手赚平台不予审核通过。</p>
				<p>3、买手反馈商品价格有误的情况下，经查证属实的情况后手赚会单方面暂停您的任务，并且进行通知修改后方可再次发布。</p>
				<p>4、若由于价格问题长期屡教不改的商家手赚会考虑取消合作。</p>
			</div>
		</div>
		<div class="pg" id="b2">
			<h2 class="t">请商家在任务期间，关闭商品的淘宝客推广、京东联盟推广</h2>
			<div class="c">
				<p>各位商家：</p>
				<p>1、现在很多浏览器和宽带运营商都存在劫持买家订单情况，从而导致正常订单会被转换成淘客订单；</p>
				<p>2、很多导航网站如hao123, 360,2345，门户网站的广告等，都带有返利代码，且返利有效期长达30天。（举例，假如买家 7月23日通过hao123.com 导航站,或者163门户里的广告，访问过 京东，那么该买家在后续30天产生的任何京东订单，都会被计入京东联盟推广）</p>
				<p>3、鉴于以上2种情况，请商家在刷单期间，将刷单商品的淘宝客推广等直接关闭，以免造成相应的佣金损失。如果商家未关闭淘宝客或联盟推广  造成的佣金损失，我们不承担任何责任，亦不对损失作出任何补偿。请各位商家知悉。</p>
			</div>
		</div>
		<div class="pg" id="b3">
			<h2 class="t">请所有商家刷单时注意控制好店铺的转化率！</h2>
			<div class="c">
				<p>各位商家：</p>
				<p>目前发现有商家因为没有控制好转化率导致商品降权，我们在此强调：</p>
				<p>1、请所有商家刷单时候注意控制<span class="error">店铺整体转化率</span>、<span class"error"="">刷单商品的转化率</span>、以及<span class="error">自然搜索的转化率</span>，不要高于您商品所在类目转化率太多，确保店铺流量足以支持刷单任务数量</p>
				<p>2、如果店铺转化率过高，请及时引入更多流量，解决店铺转化率过高的问题，否则手赚将<span class="error">不予审核您的任务</span>，请务必控制好转换率。</p>
				<p>3、如果因转化率过高，导致商品降权，手赚概不负责</p>
			</div>
		</div>
		<div class="pg" id="b4">
			<h2 class="t">可以引入流量的渠道有</h2>
			<div class="c">
				<p class="st">淘内：</p>
				<p>淘宝直通车</p>
				<p>淘宝钻展</p>
				<p class="st">淘外流量渠道：</p>
				<p>流量精灵</p>
				<p>网址：http://www.spiritsoft.cn/</p>
				<p>流量车</p>
				<p>网址：http://www.liuliangche.com</p>
				<p>请注意：手赚和上述流量网站无合作关系，不对上述网站的服务质量和实际效果负责。</p>
				<p>另，手赚官方刷流量流程正在准备中，请商家耐心等待</p>
			</div>
		</div>
		<div class="pg" id="b5">
			<h2 class="t">关于买家疑似不经过搜索，直接秒拍任务商品的情况说明</h2>
			<div class="h">
				<p>各位卖家：</p>
				<p>最近有卖家反馈，我们平台有买家在做淘宝订单任务时，疑似存在买家不经过搜索，直接进店铺秒拍任务商品的情况，现答复如下：</p>
			</div>
			<div class="c">
				<div class="subc">
					<p class="st">根据我们平台买手做任务的流程：</p>
					<p>①买家必须通过搜索**才能找到找到您的商品。买家不通过搜索您的**是看不到您的商品和店铺任何信息的</p>
					<p>②买家搜索**后，会在手赚平台上传 货比三家的商品截图。（商家后台可以看到买家上传的截图）</p>
					<p>③买家通过您的**搜索找到商品，进入店铺后，同样会浏览您的店铺3-5分钟，并填写您店铺内其他商品的链接（商家后台同样可以看到买家填写的链接）</p>
				</div>
				<div class="subc">
					<p class="st">买家通过完成上述步骤之后才可以下单，所以基本上不会存在直接进店秒拍任务商品的情况</p>
					<p>如有秒拍，或不对店铺进行浏览，直接下单，请回复此帖举报买家的手赚ID,买号任务编号。</p>
					<p>核实后，我们会买家进行处罚，处罚原则如下：</p>
					<p>1、买家第一次秒拍，我们会处罚买家10金币。并警告一次。</p>
					<p>2、买家后续又存在秒拍的情况，我们会直接封禁该买手的手赚账户。</p>
					<p>可以进行系统申诉</p>
				</div>
			</div>
		</div>
		<div class="pg" id="c2">
			<h2 class="t">什么是转账交易号？</h2>
			<div class="h">
				<p>各位商家，因退款需要填写你通过支付宝或者财付通转账的交易流水号，现将交易号的查看方式，截图说明如下：</p>
				<p>退款需要填写交易号，如图：</p>
			</div>
			<div class="c">
				<img src="/static/image/help_detail/pic_1.jpg">
			</div>
		</div>
		<div class="pg" id="c3">
			<h2 class="t">如何查看转账交易号？</h2>
			<div class="c">
				<p class="error">支付宝交易号：</p>
				<p style="padding: 10px 0px;">① 点击交易记录 详情 按钮</p>
				<img src="/static/image/help_detail/pic_2.jpg">
				<p style="padding: 10px 0px;">② 进入交易记录详情页，交易号如图所示</p>
				<img src="/static/image/help_detail/pic_3.jpg">
				<p class="error">财付通交易号：</p>
				<p style="padding: 10px 0px;">① 点击交易记录 详情 按钮</p>
				<img src="/static/image/help_detail/pic_4.jpg">
				<p style="padding: 10px 0px;">② 进入交易记录详情页，交易号如图所示 </p>
				<img src="/static/image/help_detail/pic_5.jpg">
			</div>
		</div>
		<div class="pg" id="c4">
			<h2 class="t">关于买手使用淘宝客或者返利的解决对策？</h2>
			<div class="c">
				<p>近期商家反馈很多买手使用淘宝客或者一些返利点刷单，造成了商家的困扰。为了解决这一问题，现手赚将处理措施公布如下，请各位商家知悉。</p>
				<p class="striking">情况一：买手擅自使用淘宝客或者返利网进行刷单，商家应该如何应对？</p>
				<p>解决对策：若商家发现买手擅自使用淘宝客或者返利网，请按照在系统里进行申诉或者直接联系我们客服处理</p>
				<p class="error">【温馨提示】：将【量子监控-订单来源截图】以及【淘宝客佣金截图】传给手赚客服处理，谢谢配合！</p>
				<p class="striking" style="padding-top: 16px;">情况二：买手使用淘金币，天猫积分，京豆等进行刷单付款，商家该怎么确认退款金额？</p>
				<p>解决对策：商家应该以买手实际付款金额进行退款（即商品金额-淘金币/天猫积分/京豆等）。</p>
				<p>举例：天猫刷单商品的金额为100元，买手下单时使用了2000个天猫积分，100天猫积分=1元，即使用了20元折扣，实际付款金额为80元，商家退款时只需退80元即可。（积分兑换规则请参考具体平台）</p>
			</div>
		</div>
		<div class="pg" id="c5">
			<h2 class="t">淘大客等网站提示买家账号为危险账号怎么办？</h2>
			<div class="c">
				<p>最近有商家反馈，部分买家接手任务的旺旺号，通过淘大客等网站查询，账号等级为危险账号。</p>
				<p>解答如下：</p>
				<p>淘大客判断账号危险与否 是根据 旺旺账号 最近一个月和最近一周的成交量 来判断的。</p>
				<p>而淘宝判断账号是否为可疑账号，不是根据账号的成交量，而是根据是这个账号是否和其<span class="error">多个账号同机登陆</span>来判断的。</p>
				<p>我们这边，每个买家最多可绑定3个账号，是在安全范围内的。</p>
				<p>因此不存在危险账号的情况。</p>
			</div>
		</div>
		<div class="pg" id="c6">
			<h2 class="t">淘宝虚假交易的申诉过程及个人经验？</h2>
			<div class="h">
				<p><strong>前言：</strong>俗话说常在淘宝混，怎有不降权！遇到宝贝降权怎么办？</p>
				<p>首先你要冷静和自信！只要保留好快递底单，有完整的快递运输记录，和签收记录。往下看正文，按照我们的方法做可以化险为夷！</p>
			</div>
			<div class="c">
				<p><strong>正文：</strong></p>
				<p><strong>第一步：输入被降权宝贝的商品ID</strong></p>
				<p>点击链接：http://service.taobao.com/support/main/self_help.htm?spm=0.0.0.0.lC3N2a#illegal进入淘宝网服务中心-自主服务-商品管理-输入维权产品ID，点击进去可以看到系统判断为疑似虚假交易的订单。记录下这些订单所匹配的快递单号</p>
				<p style="padding-top: 16px;"><strong>第二步：填写申诉凭证和申诉理由</strong></p>
				<p>填写订单号和对应的举证号、物流地单号 上传物流底单照片</p>
				<p>如何提取举证号：请参照页面：http://service.taobao.com/support/knowledge-1116602.htm（里面的版本较老）提取举证号，其实就是上传你与买家的聊天记录。根据对应降权的订单先找到买家ID，打开和买家的旺旺聊天框，进入消息管理器，新版的设置在查看历史消息记录的下拉窗口里，进去以后点击举证-提交证据，就可以找到举证号。如何提供完整有效的快递底单：（这个直接找手赚客服索要即可）请参照页面：http://service.taobao.com/suppor ... I5d&amp;dkey=searchview</p>
				<p style="padding-top: 16px;"><strong>第三步：提交申诉申请</strong></p>
				<p>点击提交申请后淘宝24小时内会审核。</p>
				<p><strong>成功经验之谈：</strong></p>
				<p>1.由于申诉一共只有两次机会，所以第一次提交务必仔细检查后再提交。</p>
				<p>第一次申诉失败的通知</p>
				<img src="/static/image/help_detail/pic_6.jpg">
				<p>2.如果第一次审核不通过，建议咨询人工客服，核实提交材料是否规范。</p>
				<img src="/static/image/help_detail/pic_7.jpg">
				<p>3.拍摄快递底单凭证很重要，底单不能模糊不清，且镜头需要正对快递面单拍摄。错误的方法：其中第三张由于是手写的太模糊，未被淘宝识别出</p>
				<img src="/static/image/help_detail/pic_8.jpg">
				<p><strong>正确的方法：</strong></p>
				<img src="/static/image/help_detail/pic_9.jpg">
				<p>4.所有底单必须完整保留，这点非常重要，申诉只有一单出问题，就可能全盘否定。</p>
				<p>申诉成功后的提醒：出现这个恭喜你啦！</p>
				<img src="/static/image/help_detail/pic_10.jpg">
			</div>
		</div>
		<div class="pg" id="c7">
			<h2 class="t">什么情况下客服会撤回商家的任务？</h2>
			<div class="h">
				<p>各位商家</p>
				<p>针对大家发布的任务，手赚的客服会逐个检查您的任务确保您的任务可以在淘宝/天猫平台找到，若由于各种原因无法找到，手赚会撤回相关任务由于商家修改后方可再次发布，以下几种问题我们客服会选择撤回您的任务，所以请各位商家发布任务的过程中仔细一点，避免造成双方的时间的浪费，谢谢。</p>
			</div>
			<div class="c">
				<p><strong>1、您提交的图片信息中包含店铺的"旺旺信息"、"商品全标题"、"图片错误“</strong></p>
				<p>解决方案</p>
				<p>图片必须保证与淘宝/天猫搜索关键字后展示的图片保持一致，天猫平台图片可以鼠标右击点击“另存为” 淘宝可以通过截图来解决或者提供原图来上传，若图片信息不符合手赚要求的情况下，手赚客服会予以撤回您的任务。</p>
				<p><strong>2、您的实际商品金额大于任务商品金额</strong></p>
				<p>解决方案</p>
				<p>任务金额必须与商家平台商品金额保持一致，无论价格是多还是少手赚客服均不会审核，所以确保商家提交任务金额与实际付款金额保持一致，若金额错误的情况下，手赚客服会予以撤回您的任务。</p>
				<p><strong>3、您发布的店铺信息有误</strong></p>
				<p>解决方案</p>
				<p>部分商家一个手赚ID内绑定多个店铺，很容易造成发布错误，所以发布任务的情况下必须看清楚店铺情况，避免发错信息，若店铺错误的情况下，手赚客服会予以撤回您的任务。</p>
				<p><strong>4、您提供的搜索信息无法搜索到您的任务商品</strong></p>
				<p>解决方案</p>
				<p>任务发布的最基本条件是商家能够在淘宝前台前三页内搜索到您的商品，若无法搜索到请添加“分类”“价格区间”“发货地”来进行筛选，若前三页无法找到任务商品，手赚客服会予以撤回您的任务</p>
				<p><strong>5、您的实际商品未处于包邮状态</strong></p>
				<p>解决方案</p>
				<p>若您的产品不是包邮的情况下，请选择不包邮提交10元的运费押金，若商品实际未包邮商家选择包邮的情况下，手赚客服会予以撤回您的任务。</p>
			</div>
		</div>
	</div>
</div>
{% endblock %} 
{% block js%}

{% endblock %}