{% extends "base.html" %}
{% block css %}
<style type="text/css">
.title {
  width: 5em;
  padding-top: 4px;
  margin: 0 auto;
  margin-top: 100px;
  font-size: 22px;
  color: #197db5;
  margin-bottom: 52px;
}
.ipt-wrap {
  margin-bottom: 19px !important;
}
.w-350 {
  width: 350px;
  margin: 0 auto;
}
.lr-ipt {
  padding-left: 42px;
  padding-right: 7px;
  width: 300px;
  font-size: 15px;
  padding-top: 13px;
  padding-bottom: 12px;
  border: 1px solid #ececed;
  color: #666;
}
.mtag {
  top: 6px;
  position: absolute;
  left: 12px;
}
.ctag {
  top: 13px;
}
.tag {
  position: absolute;
  top: 10px;
  left: 12px;
}
.code {
  width: 140px;
}
.getcode {
  position: absolute;
  top: 18px;
  right: 60px;
}
.error {
  margin-top: 15px;
  position: absolute;
  top: 0px;
  left: 360px;
}
.border-div{
  margin: 14px 0px;
  border: 1px solid #e5e5e5;
  height: 765px;
  width: 100%;
  background-color: #fdfefe;
}
.btn-reset {
  display: block;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 9px;
  width: 165px;
  height: 42px;
  border: none;
  background: url(/static/image/web/index/btn_reset.png) center center no-repeat;
  cursor: pointer;
}
.w-140 {
  width: 140px;
  margin: 0 auto;
}
.lr-ipt:focus
{
  border-color: rgba(82, 168, 236, 0.8);
  outline: thin dotted \9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.tag_pic {
  position: absolute;
  top: 10px;
  right: 10px;
}
</style>
{% endblock %}
{% block title %}密码重置{% endblock %}
{% block header %}
  {% include 'component/login_bar.html' %}
{% endblock %}
{% block main %}
<div class='border-div'>
   <p class='title'>密码重置</p> 
   <form class="p-r" id="form1" name="form1"> 
    <div class="ipt-wrap w-350 p-r"> 
     <input class="lr-ipt mobile" type="text" id="mobile" name="mobile" tabindex="1" placeholder="手机号" /> 
     <img class="tag mtag" src="/static/image/web/index/mobile.png" /> 
     <div class="error w-350" id="error_mobile">
     </div> 
    </div>
    <div class="ipt-wrap w-350 p-r">
     <input class="lr-ipt mobile" type="text" id="confirm_code" name="confirm_code" tabindex="2" placeholder="验证码" />
     <img class="tag ctag" src="/static/image/web/index/pic_code.png" />
     <a onclick="refreshRandCode()">
     <img class="tag_pic ctag" id="confirm_code_pic" src="/static/image/web/confirm_code/confirm_code_1.png" />
     </a>
     <div class="error w-350" id="error_mobile">
      *&nbsp;&nbsp;必填
     </div>
    </div>
    <div class="ipt-wrap w-350 p-r"> 
     <input class="lr-ipt code" type="text" id="verifcode" name="verifcode" tabindex="2" placeholder="验证码" /> 
     <img class="tag ctag" src="/static/image/web/index/code.png" /> 
     <a class="striking getcode" id="send-sms">获取验证码</a> 
     <div class="error w-350" id="error_verifcode" style="margin-top: 16px;"></div> 
    </div> 
    <div class="p-r ipt-wrap w-350"> 
     <input class="lr-ipt pwd" type="password" id="password" name="password" tabindex="2" onblur="checkpassword()" placeholder="密码" /> 
     <img class="tag" src="/static/image/web/index/lock.png" /> 
     <div class="error w-350" id="error_password">
     </div> 
    </div> 
    <div class="ipt-wrap w-350 p-r"> 
     <input class="lr-ipt spwd" type="password" id="surepassword" name="surepassword" tabindex="2" onblur="checksurepassword()" placeholder="确认密码" /> 
     <img class="tag" src="/static/image/web/index/lock.png" /> 
     <div class="error w-350" id="error_surepassword">
     </div> 
    </div> 
    <div class="w-350" align="center" id="error_sub" style="color: red;"></div> 
    <div class="wrap-btn w-350"> 
     <input class="submit btn-reset" type="button" id="submit" name="submit" tabindex="4" value="" /> 
    </div>  
   </form> 
  </div>
{% endblock %}
{% block js %}
<script type="text/javascript" src='/static/js/lib/md5.js'></script>
<script type="text/javascript" src='/static/js/lib/layer/layer.js'></script>
<script type="text/javascript">
function refreshRandCode() {
    // 验证码图片放在服务器端
    $.ajax({
        type : 'get',
        url : '/rest_web/users/refresh/randcode',
        success: function(data){
            $("#confirm_code_pic").attr("src", "data:image/gif;base64," + data.data.img);
        }
    });
}
var smsenable = true;
var submitenable = true;
$(document).ready(function() {
    $.ajax({
        type : 'get',
        url : '/rest_web/users/refresh/randcode',
        success: function(data){
            $("#confirm_code_pic").attr("src", "data:image/gif;base64," + data.data.img);
        }
    });
	function Request(strName) 
	{ 
		var strHref = window.document.location.href; 
		var intPos = strHref.indexOf("?"); 
		var strRight = strHref.substr(intPos + 1); 
		
		var arrTmp = strRight.split("&"); 
		for(var i = 0; i < arrTmp.length; i++) 
		{ 
			var arrTemp = arrTmp[i].split("="); 
		
			if(arrTemp[0].toUpperCase() == strName.toUpperCase()) return arrTemp[1]; 
		} 
		return ""; 
	} 
	var mobile=Request("mobile");
	$('#mobile').val(mobile);
	
    $('#send-sms').bind('click',
    function() {
        if (smsenable) {
            var errors = null;
            var phone = $('#mobile').val();
            (/^\d{11}$/.test(phone)) || (errors = '请输入正确手机号码');
            if (errors) {
                layer.msg(errors);
                return;
            }
            var rand_code = $('#confirm_code').val();
            if(rand_code == ''){
            	layer.msg('请输入图片验证码');
                return;
            }
            smsenable = false;
            $.ajax({
                type:'post',
                url:'/rest_web/users/smscaptcha/request/' + phone,
                dataType:'json',
                data:{
                    rand_code:rand_code
                },
                success:function(res){
                    smsenable = true;
                    if (res.code == 0) {
                        layer.msg('发送成功');
                    }else{
                        layer.msg(res.msg);
                    }
                }
            });
        }
    });
    $('#submit').bind('click',
    function() {
        if (submitenable) {
            var errors = null;
            var phone = $('#mobile').val();
            (/^\d{11}$/.test(phone))|| (errors = '请输入正确手机号码');
            if (errors) {
                layer.tips(errors, '#mobile');
                return;
            }
            var rand_code = $('#confirm_code').val();
            if(rand_code == ''){
            	layer.msg('请输入图片验证码');
                return;
            }
            var verifcode = $('#verifcode').val();
            (/^\d{6}$/.test(verifcode))|| (errors = '验证码错误');
            if(verifcode =="")
            {
            	layer.tips('验证码不能为空', '#verifcode');
                return;
            }
            if (errors) {
                layer.tips(errors, '#verifcode');
                return;
            }
            var password = $('#password').val();
            (/^.{6,}$/.test(password))|| (errors = '密码至少为6位');
            if (errors) {
                layer.tips(errors, '#password');
                return;
            }
            var surepassword = $('#surepassword').val();
            if(surepassword == "")
            {
            	layer.tips('请确认密码', '#surepassword');
            	return;
            }
            
            password == surepassword || (errors = '两次输入密码不一致');
            if (errors) {
                layer.msg(errors);
                return;
            }
            $.post('/rest_web/users/user/forgetpwd',{
            	'phone':phone,
            	'new_password':$.md5(password),
            	'captcha':verifcode,
            },
            function(res) {
                smsenable = true;
                
                if (res.code == 0) {
                    layer.msg('密码重置成功');
                    location.href='/login';
                }
                else if(res.code == -104){
                	layer.tips('验证码错误', '#verifcode');
                }
                else if(res.code == -117){
                	layer.msg('用户不存在');
                	//location.href='/register';
                }
                else{
                  layer.msg('密码重置失败');
                }
            });
        }

    });
});
</script>
{% endblock %}