<!DOCTYPE html>
<html lang="zh">
	<head>
		<title>订单详情</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/static/back_admin/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/back_admin/css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" href="/static/back_admin/css/datepicker.css" />
		<link rel="stylesheet" href="/static/back_admin/css/select2.css" />
		<link rel="stylesheet" href="/static/back_admin/css/unicorn.main.css" />
		<link rel="stylesheet" href="/static/back_admin/css/self-define.css" />
		<link rel="stylesheet" href="/static/back_admin/css/unicorn.red.css" class="skin-color" />
        <style type="text/css">
            .pro_img {
                margin-right: 13px;
                cursor: pointer;
            }
            .ok {
                position: relative;
                top: 4px;
                left: 16px;
            }
            .money {
                color: #fd6703;
                font-weight: 800;
            }
            .striking {
                color: #3cb3f6;
            }
            .red {
                color: #d30e2a;
            }
        </style>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
	<body>


		<div id="header">
			<h1><a href="./index.html">任务详情</a></h1>
		</div>
		<div id="user-nav" class="navbar navbar-inverse">
			<ul class="nav btn-group">
				<li class="btn btn-inverse"><a title="" href="#"><i class="icon icon-user"></i> <span class="text">用户</span></a></li>
				<li class="btn btn-inverse"><a title="" href="#"><i class="icon icon-cog"></i> <span class="text">设置</span></a></li>
				<li class="btn btn-inverse"><a title="" href="login.html"><i class="icon icon-share-alt"></i> <span class="text">退出</span></a></li>
			</ul>
		</div>

		<div id="sidebar">
			<a href="#" class="visible-phone"><i class="icon icon-home"></i> 首页</a>
			<ul>
				<li><a href="/static/back_admin/index.html"><i class="icon icon-home"></i> <span>首页</span></a></li>
				<li class="submenu">
					<a href="#"><i class="icon icon-pencil"></i> <span>资金管理</span> <span class="label">4</span></a>
					<ul>
						<li><a href="/static/back_admin/acc_manage.html">账户管理</a></li>
						<li><a href="/static/back_admin/rebate_manage.html">返款管理</a></li>
						<li><a href="/static/back_admin/fund_detail.html">资金明细</a></li>
						<li><a href="/static/back_admin/recharge_manage.html">充值管理</a></li>
					</ul>
				</li>
				<li><a href="/static/back_admin/user_info.html"><i class="icon icon-user"></i> <span>用户审核</span></a></li>
				<li class="submenu">
					<a href="#"><i class="icon icon-file"></i> <span>账号审核</span> <span class="label">5</span></a>
					<ul>
						<li><a href="/static/back_admin/user_level.html">用户等级</a></li>
						<li><a href="/static/back_admin/identity_info.html">身份信息</a></li>
						<li><a href="/static/back_admin/credit_card.html">银行卡信息</a></li>
						<li><a href="/static/back_admin/taobao_acc.html">淘宝账号</a></li>
						<li><a href="/static/back_admin/store_info.html">店铺信息</a></li>
					</ul>
				</li>
				<li class="submenu active open">
					<a href="#"><i class="icon icon-tasks"></i> <span>任务中心</span> <span class="label">3</span></a>
					<ul>
						<li><a href="/static/back_admin/task_manage.html">任务管理</a></li>
						<li class="active"><a href="/static/back_admin/order_manage.html">订单管理</a></li>
						<li><a href="/static/back_admin/problem_orders.html">问题订单</a></li>
					</ul>
				</li>
				<li><a href="/static/back_admin/notice_manage.html"><i class="icon icon-bullhorn"></i> <span>公告管理</span></a></li>
				<li><a href="/static/back_admin/appeal_center.html"><i class="icon icon-comment"></i> <span>申述中心</span></a></li>
				<li class="submenu">
					<a href="#"><i class="icon icon-wrench"></i> <span>平台账号</span> <span class="label">2</span></a>
					<ul>
						<li><a href="/static/back_admin/pl_acc_manage.html">账号管理</a></li>
						<li><a href="/static/back_admin/authority_manage.html">权限管理</a></li>
					</ul>
				</li>
			</ul>
		</div>

		<div id="content">
			<div id="content-header">
				<h1>订单详情</h1>
			</div>
			<div id="breadcrumb">
				<a href="index.html" title="返回首页" class="tip-bottom"><i class="icon-home"></i> 首页</a>
				<a href="#" class="tip-bottom">任务中心</a>
				<a href="#" class="current">订单详情</a>
			</div>
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span12" id="id_task_detail">
                        <div class="f-cb task-ti">
                                <div class="widget-box">
                                    <div class="widget-title">
                                        <h5>买手操作任务详情（
                                            {% ifequal order.order_type 0%}
                                            普通好评单
                                            {% endifequal %}
                                            {% ifequal order.order_type 1%}
                                            关键词好评单
                                            {% endifequal %}
                                            {% ifequal order.order_type 2%}
                                            图文好评单
                                            {% endifequal %}
                                            {% ifequal order.order_type 3%}
                                            流量单
                                            {% endifequal %}
                                            {% ifequal order.order_type 4%}
                                            收藏单
                                            {% endifequal %}
                                            {% ifequal order.order_type 5%}
                                            直通车单
                                            {% endifequal %}
                                            {% ifequal order.order_type 6%}
                                                {% if order.task.is_qian == 1 %}
                                                    千人千面任务
                                                {% else %}
                                                    延时购买任务
                                                {% endif %}

                                            {% endifequal %}
                                            ）</h5>
                                        <span class="label label-info">{{ order.receive_time_str }}</span>
                                        <span class="label">接单时间</span>
                                        <span class="label label-info">{{ order.id }}</span>
                                        <span class="label">订单编号</span>
                                    </div>
                                    <div class="widget-content nopadding">
                                        <div class="invoice-content">
                                            <span >买手信息</span>
                                            <table class="table s-table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>淘宝买号</th>
                                                        <th>下单终端</th>
                                                        <th>买手手机</th>
                                                        <th>买手QQ号</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            {% ifequal order.status 0 %}未接单{% else %}
                                                                {{order.tb.user_id}}
                                                            {% endifequal %}
                                                        </td>
                                                        <td>{{order.tb.wangwang}}</td>
                                                        <td>
                                                            {% ifequal order.device 0%}
                                                                电脑
                                                            {% endifequal %}
                                                            {% ifequal order.device 1%}
                                                                Android
                                                            {% endifequal %}
                                                            {% ifequal order.device 2%}
                                                                iOS
                                                            {% endifequal %}
                                                        </td>
                                                        <td>{{ order.tb.user.phone }}</td>
                                                        <td>{{ order.tb.user.qq }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <span >要求</span>
                                            <!-- <div>{{ task.wangwang_condition }}</div> -->

                                            <div style="padding-bottom: 10px;">
                                                <ul id="task_condition" style="padding-left: 1em;padding-top: 10px;"></ul>
                                            </div>
                                            <span >备注</span>
                                            {% if task.task_remark %}
                                            <div>{{ task.task_remark }}</div>
                                            {% else %}
                                            <div>无</div>
                                            {% endif %}
                                            <div style="margin-top: 20px">
                                                <span >操作进展</span>
                                                <span class="striking">(
                                                    {% if order.status == 0 %}
                                                        未接单
                                                    {% elif order.status == 102 or order.status == 103 %}
                                                        待返款发货
                                                    {% elif order.status == 104 %}
                                                        待评价
                                                    {% elif order.status == 105 %}
                                                        待确认
                                                    {% elif order.status == 10 %}
                                                        已完成
                                                    {% elif order.status == 1 or order.status == 100 or order.status == 101 or order.status == 107 or order.status == 108 %}
                                                        待操作
                                                    {% else %}
                                                        强制撤销
                                                    {% endif %}
                                                )</span>
                                                <table class="table s-table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>任务步骤</th>
                                                            <th>操作者</th>
                                                            <th>操作时间</th>
                                                            <th width="400px">内容</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% if is_comment_order %}
                                                            {% if task_type == 3 %}
                                                                <tr>
                                                                    <td>目标商品和支付截图</td>
                                                                    <td>买手</td>
                                                                    <td>
                                                                        {% if order.get_steps.step_0.time_str > 0 %}
                                                                            {{order.get_steps.step_0.time_str}}<img class="ok" src="/static/image/web/task/takestepok.png" />
                                                                        {% else %}
                                                                            未完成 <img class="ok" src="/static/image/web/task/takestepwait.png" />
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        {% for pic in order.get_steps.step_0.pic_path %}
                                                                            <a href="{{pic}}" target="_blank"><img class="pro_img " src="{{pic}}" width="62" height="62" /></a>
                                                                        {% endfor %}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>商家返还本金</td>
                                                                    <td>商家</td>
                                                                    <td>
                                                                        {% if order.get_steps.step_3.time_str > 0 %}
                                                                            {{order.get_steps.step_3.time_str}} <img class="ok" src="/static/image/web/task/takestepok.png" />
                                                                        {% else %}
                                                                            未完成 <img class="ok" src="/static/image/web/task/takestepwait.png" />
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        <ul class="fk">
                                                                            <li class="mb12">返款方式：银行转账　{{bankcard.bank_name}}</li>
                                                                            <li class="mb12">返款账号：<span class="separate-num-pre-four">{{account_str}}</span> {{bankcard.owner_name}}</li>
                                                                            <li class="mb12">需返金额：{{order.dianzi}}</li>
                                                                            <li>返款模式：<span class="striking">
                                                                                {% ifequal task.return_type 0 %}
                                                                                    平台返款
                                                                                {% else %}
                                                                                    商家手动返款
                                                                                {% endifequal %}
                                                                                </span>
                                                                            </li>
                                                                            <li class="mb12">买手提交：￥<span class='money'>{% if order.get_buyer_commit %}{{order.get_buyer_commit}}{% else %}未操作{% endif %}</span></li>
                                                                            <li class="mb12">商家确认：￥<span class='money'>{% if order.get_seller_commit %}{{order.get_seller_commit}}{% else %}未操作{% endif %}</span></li>
                                                                        </ul>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>商家发货</td>
                                                                    <td>商家</td>
                                                                    <td>
                                                                        {% if order.get_steps.step_4.time_str > 0 %}
                                                                            {{order.get_steps.step_4.time_str}} <img class="ok" src="/static/image/web/task/takestepok.png" />
                                                                        {% else %}
                                                                            未完成 <img class="ok" src="/static/image/web/task/takestepwait.png" />
                                                                        {% endif %}
                                                                    </td>
                                                                    <td></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>收货并好评</td>
                                                                    <td>买手</td>
                                                                    <td>
                                                                        {% if order.get_steps.step_5.time_str >= 0 %}
                                                                            {{order.get_steps.step_5.time_str}} <img class="ok" src="/static/image/web/task/takestepok.png" />
                                                                        {% else %}
                                                                            未完成 <img class="ok" src="/static/image/web/task/takestepwait.png" />
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        <div>
                                                                            {% for pic in order.get_steps.step_5.pic_path %}
                                                                                <a href="{{pic}}" target="_blank"><img class="pro_img " src="{{pic}}" width="62" height="62" /></a>
                                                                            {% endfor %}
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>确认无误发放佣金</td>
                                                                    <td>商家</td>
                                                                    <td>
                                                                        {% if order.get_steps.step_6.time_str > 0 %}
                                                                            {{order.get_steps.step_6.time_str}} <img class="ok" src="/static/image/web/task/takestepok.png" />
                                                                        {% else %}
                                                                            未完成 <img class="ok" src="/static/image/web/task/takestepwait.png" />
                                                                        {% endif %}
                                                                    </td>
                                                                    <td></td>
                                                                </tr>
                                                            {% else %}
                                                                <tr>
                                                                    <td>货比三家</td>
                                                                    <td>买手</td>
                                                                    <td>
                                                                        {% if order.get_steps.step_0.time_str > 0 %}
                                                                            {{order.get_steps.step_0.time_str}} <img class="ok" src="/static/image/web/task/takestepok.png" />
                                                                        {% else %}
                                                                            未完成 <img class="ok" src="/static/image/web/task/takestepwait.png" />
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        {% for pic in order.get_steps.step_0.pic_path %}
                                                                            <a class="fancybox-effects-d" href="{{pic}}" target="_blank"><img class="pro_img " src="{{pic}}" width="62" height="62" /></a>
                                                                        {% endfor %}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>浏览店铺及目标商品</td>
                                                                    <td>买手</td>
                                                                    <td>
                                                                        {% if order.get_steps.step_1.time_str > 0 %}
                                                                            {{order.get_steps.step_1.time_str}} <img class="ok" src="/static/image/web/task/takestepok.png" />
                                                                        {% else %}
                                                                            未完成 <img class="ok" src="/static/image/web/task/takestepwait.png" />
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        {% for pic in order.get_steps.step_1.pic_path %}
                                                                            <a class="fancybox-effects-d" href="{{pic}}" target="_blank"><img class="pro_img " src="{{pic}}" width="62" height="62" /></a>
                                                                        {% endfor %}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>聊天下单和支付</td>
                                                                    <td>买手</td>
                                                                    <td>
                                                                        {% if order.get_steps.step_2.time_str > 0 %}
                                                                            {{order.get_steps.step_2.time_str}} <img class="ok" src="/static/image/web/task/takestepok.png" />
                                                                        {% else %}
                                                                            未完成 <img class="ok" src="/static/image/web/task/takestepwait.png" />
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        {% for pic in order.get_steps.step_2.pic_path %}
                                                                            <a class="fancybox-effects-d" href="{{pic}}" target="_blank"><img class="pro_img " src="{{pic}}" width="62" height="62" /></a>
                                                                        {% endfor %}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>商家返还本金</td>
                                                                    <td>商家</td>
                                                                    <td>
                                                                        {% if order.get_steps.step_3.time_str > 0 %}
                                                                            {{order.get_steps.step_3.time_str}} <img class="ok" src="/static/image/web/task/takestepok.png" />
                                                                        {% else %}
                                                                            未完成 <img class="ok" src="/static/image/web/task/takestepwait.png" />
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        <ul class="fk">
                                                                            <li class="mb12">返款方式：银行转账　{{bankcard.bank_name}}</li>
                                                                            <li class="mb12">返款账号：<span class="separate-num-pre-four">{{account_str}}</span> {{bankcard.owner_name}}</li>
                                                                            <li class="mb12">需返金额：{{order.dianzi}}</li>
                                                                            <li>返款模式：<span class="striking">
                                                                                {% ifequal task.return_type 0 %}
                                                                                    平台返款
                                                                                 {% else %}
                                                                                    商家手动返款
                                                                                 {% endifequal %}
                                                                                </span>
                                                                            </li>
                                                                            <li class="mb12">买手提交：￥<span class='money'>{% if order.get_buyer_commit %}{{order.get_buyer_commit}}{% else %}未操作{% endif %}</span></li>
                                                                            <li class="mb12">商家确认：￥<span class='money'>{% if order.get_seller_commit %}{{order.get_seller_commit}}{% else %}未操作{% endif %}</span></li>
                                                                        </ul>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>商家发货</td>
                                                                    <td>商家</td>
                                                                    <td>
                                                                        {% if order.get_steps.step_4.time_str > 0 %}
                                                                            {{order.get_steps.step_4.time_str}} <img class="ok" src="/static/image/web/task/takestepok.png" />
                                                                        {% else %}
                                                                            未完成 <img class="ok" src="/static/image/web/task/takestepwait.png" />
                                                                        {% endif %}
                                                                    </td>
                                                                    <td></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>收货并好评</td>
                                                                    <td>买手</td>
                                                                    <td>
                                                                        {% if order.get_steps.step_5.time_str >= 0 %}
                                                                            {{order.get_steps.step_5.time_str}} <img class="ok" src="/static/image/web/task/takestepok.png" />
                                                                        {% else %}
                                                                            未完成 <img class="ok" src="/static/image/web/task/takestepwait.png" />
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        <div>
                                                                            {% for pic in order.get_steps.step_5.pic_path %}
                                                                                <a class="fancybox-effects-d" href="{{pic}}" target="_blank"><img class="pro_img " src="{{pic}}" width="62" height="62" /></a>
                                                                            {% endfor %}
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>确认无误发放佣金</td>
                                                                    <td>商家</td>
                                                                    <td>
                                                                        {% if order.get_steps.step_6.time_str > 0 %}
                                                                            {{order.get_steps.step_6.time_str}} <img class="ok" src="/static/image/web/task/takestepok.png" />
                                                                        {% else %}
                                                                            未完成 <img class="ok" src="/static/image/web/task/takestepwait.png" />
                                                                        {% endif %}
                                                                    </td>
                                                                    <td></td>
                                                                </tr>
                                                            {% endif %}
                                                            {% elif order.order_type == 6 %}
                                                                {% if order.task.is_qian == 1 %}
                                                                 <tr>
                                                                    <td>浏览任务</td>
                                                                    <td>买手</td>
                                                                    <td>
                                                                        {% if order.get_steps.step_10.time_str > 0 %}
                                                                            {{order.get_steps.step_10.time_str}} <img class="ok" src="/static/image/web/task/takestepok.png" />
                                                                        {% else %}
                                                                            未完成 <img class="ok" src="/static/image/web/task/takestepwait.png" />
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        {% for pic in order.get_steps.step_10.pic_path %}
                                                                            <a class="fancybox-effects-d" href="{{pic}}" target="_blank"><img class="pro_img " src="{{pic}}" width="62" height="62" /></a>
                                                                        {% endfor %}

                                                                    </td>
                                                                </tr>

                                                                {% endif %}
                                                                <tr>
                                                                    <td>浏览收藏加购物车</td>
                                                                    <td>买手</td>
                                                                    <td>
                                                                        {% if order.get_steps.step_8.time_str > 0 %}
                                                                            {{order.get_steps.step_8.time_str}} <img class="ok" src="/static/image/web/task/takestepok.png" />
                                                                        {% else %}
                                                                            未完成 <img class="ok" src="/static/image/web/task/takestepwait.png" />
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        {% for pic in order.get_steps.step_8.pic_path %}
                                                                            <a class="fancybox-effects-d" href="{{pic}}" target="_blank"><img class="pro_img " src="{{pic}}" width="62" height="62" /></a>
                                                                        {% endfor %}
                                                                        {% for pic in order.get_steps.step_9.pic_path %}
                                                                            <a class="fancybox-effects-d" href="{{pic}}" target="_blank"><img class="pro_img " src="{{pic}}" width="62" height="62" /></a>
                                                                        {% endfor %}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>找到购物车中宝贝下单并支付</td>
                                                                    <td>买手</td>
                                                                    <td>
                                                                        {% if order.get_steps.step_0.time_str > 0 %}
                                                                            {{order.get_steps.step_0.time_str}} <img class="ok" src="/static/image/web/task/takestepok.png" />
                                                                        {% else %}
                                                                            未完成 <img class="ok" src="/static/image/web/task/takestepwait.png" />
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        {% for pic in order.get_steps.step_0.pic_path %}
                                                                            <a class="fancybox-effects-d" href="{{pic}}" target="_blank"><img class="pro_img " src="{{pic}}" width="62" height="62" /></a>
                                                                        {% endfor %}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>商家返还本金</td>
                                                                    <td>商家</td>
                                                                    <td>
                                                                        {% if order.get_steps.step_3.time_str > 0 %}
                                                                            {{order.get_steps.step_3.time_str}} <img class="ok" src="/static/image/web/task/takestepok.png" />
                                                                        {% else %}
                                                                            未完成 <img class="ok" src="/static/image/web/task/takestepwait.png" />
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        <ul class="fk">
                                                                            <li class="mb12">返款方式：银行转账　{{bankcard.bank_name}}</li>
                                                                            <li class="mb12">返款账号：<span class="separate-num-pre-four">{{account_str}}</span> {{bankcard.owner_name}}</li>
                                                                            <li class="mb12">需返金额：{{order.dianzi}}</li>
                                                                            <li>返款模式：<span class="striking">
                                                                                {% ifequal task.return_type 0 %}
                                                                                    平台返款
                                                                                {% else %}
                                                                                    商家手动返款
                                                                                {% endifequal %}
                                                                                </span>
                                                                            </li>
                                                                            <li class="mb12">买手提交：￥<span class='money'>{% if order.get_buyer_commit %}{{order.get_buyer_commit}}{% else %}未操作{% endif %}</span></li>
                                                                            <li class="mb12">商家确认：￥<span class='money'>{% if order.get_seller_commit %}{{order.get_seller_commit}}{% else %}未操作{% endif %}</span></li>
                                                                        </ul>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>商家发货</td>
                                                                    <td>商家</td>
                                                                    <td>
                                                                        {% if order.get_steps.step_4.time_str > 0 %}
                                                                            {{order.get_steps.step_4.time_str}} <img class="ok" src="/static/image/web/task/takestepok.png" />
                                                                        {% else %}
                                                                            未完成 <img class="ok" src="/static/image/web/task/takestepwait.png" />
                                                                        {% endif %}
                                                                    </td>
                                                                    <td></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>收货并好评</td>
                                                                    <td>买手</td>
                                                                    <td>
                                                                        {% if order.get_steps.step_5.time_str > 0 %}
                                                                            {{order.get_steps.step_5.time_str}} <img class="ok" src="/static/image/web/task/takestepok.png" />
                                                                        {% else %}
                                                                            未完成 <img class="ok" src="/static/image/web/task/takestepwait.png" />
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        <div>
                                                                            {% for pic in order.get_steps.step_5.pic_path %}
                                                                                <a class="fancybox-effects-d" href="{{pic}}" target="_blank"><img class="pro_img " src="{{pic}}" width="62" height="62" /></a>
                                                                            {% endfor %}
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>确认无误发放佣金</td>
                                                                    <td>商家</td>
                                                                    <td>
                                                                        {% if order.get_steps.step_6.time_str > 0 %}
                                                                            {{order.get_steps.step_6.time_str}} <img class="ok" src="/static/image/web/task/takestepok.png" />
                                                                        {% else %}
                                                                            未完成 <img class="ok" src="/static/image/web/task/takestepwait.png" />
                                                                        {% endif %}
                                                                    </td>
                                                                    <td></td>
                                                                </tr>
                                                            {% elif order.order_type == 3 %}
                                                                <tr>
                                                                    <td>浏览宝贝</td>
                                                                    <td>买手</td>
                                                                    <td>
                                                                        {% if order.get_steps.step_0.time_str > 0 %}
                                                                            {{order.get_steps.step_0.time_str}} <img class="ok" src="/static/image/web/task/takestepok.png" />
                                                                        {% else %}
                                                                            未完成 <img class="ok" src="/static/image/web/task/takestepwait.png" />
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        {% for pic in order.get_steps.step_0.pic_path %}
                                                                            <a class="fancybox-effects-d" href="{{pic}}" target="_blank"><img class="pro_img " src="{{pic}}" width="62" height="62" /></a>
                                                                        {% endfor %}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>确认无误发放佣金</td>
                                                                    <td>商家</td>
                                                                    <td>
                                                                        {% if order.get_steps.step_6.time_str > 0 %}
                                                                            {{order.get_steps.step_6.time_str}} <img class="ok" src="/static/image/web/task/takestepok.png" />
                                                                        {% else %}
                                                                            未完成 <img class="ok" src="/static/image/web/task/takestepwait.png" />
                                                                        {% endif %}
                                                                    </td>
                                                                    <td></td>
                                                                </tr>
                                                            {% elif order.order_type == 4 %}
                                                                <tr>
                                                                    <td>浏览宝贝</td>
                                                                    <td>买手</td>
                                                                    <td>
                                                                        {% if order.get_steps.step_0.time_str > 0 %}
                                                                            {{order.get_steps.step_0.time_str}} <img class="ok" src="/static/image/web/task/takestepok.png" />
                                                                        {% else %}
                                                                            未完成 <img class="ok" src="/static/image/web/task/takestepwait.png" />
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        {% for pic in order.get_steps.step_0.pic_path %}
                                                                            <a class="fancybox-effects-d" href="{{pic}}" target="_blank"><img class="pro_img " src="{{pic}}" width="62" height="62" /></a>
                                                                        {% endfor %}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>收藏店铺/宝贝</td>
                                                                    <td>买手</td>
                                                                    <td>
                                                                        {% if order.get_steps.step_1.time_str > 0 %}
                                                                            {{order.get_steps.step_1.time_str}} <img class="ok" src="/static/image/web/task/takestepok.png" />
                                                                        {% else %}
                                                                            未完成 <img class="ok" src="/static/image/web/task/takestepwait.png" />
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        {% for pic in order.get_steps.step_1.pic_path %}
                                                                            <a class="fancybox-effects-d" href="{{pic}}" target="_blank"><img class="pro_img " src="{{pic}}" width="62" height="62" /></a>
                                                                        {% endfor %}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>确认无误发放佣金</td>
                                                                    <td>商家</td>
                                                                    <td>
                                                                        {% if order.get_steps.step_6.time_str > 0 %}
                                                                            {{order.get_steps.step_6.time_str}} <img class="ok" src="/static/image/web/task/takestepok.png" />
                                                                        {% else %}
                                                                            未完成 <img class="ok" src="/static/image/web/task/takestepwait.png" />
                                                                        {% endif %}
                                                                    </td>
                                                                    <td></td>
                                                                </tr>
                                                        {% endif %}
{#                                                        <tr>#}
{#                                                            <td>货比三家</td>#}
{#                                                            <td>买手</td>#}
{#                                                            <td>2016-06-28 16:29:50</td>#}
{#                                                            <td>#}
{#                                                                <a href="http://upimg.shouzhuanvip.com/FiK9ngIf2CeA7Hrmiq5FwLN4EO_t" target="_blank"><img style="margin-right: 13px;cursor: pointer" src="http://upimg.shouzhuanvip.com/FiK9ngIf2CeA7Hrmiq5FwLN4EO_t" width="62"></a>#}
{#                                                                <a href="http://upimg.shouzhuanvip.com/FiK9ngIf2CeA7Hrmiq5FwLN4EO_t" target="_blank"><img style="margin-right: 13px;cursor: pointer" src="http://upimg.shouzhuanvip.com/FiK9ngIf2CeA7Hrmiq5FwLN4EO_t" width="62"></a>#}
{#                                                                <a href="http://upimg.shouzhuanvip.com/FiK9ngIf2CeA7Hrmiq5FwLN4EO_t" target="_blank"><img style="margin-right: 13px;cursor: pointer" src="http://upimg.shouzhuanvip.com/FiK9ngIf2CeA7Hrmiq5FwLN4EO_t" width="62"></a>#}
{#                                                            </td>#}
{#                                                        </tr>#}
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                        </div>
					</div>
				</div>
				<div class="row-fluid">
					<div id="footer" class="span12">
						2015 &copy; 版权所有 杭州手赚科技有限公司 <a href="http://120.26.214.214/">(ShouZhuan)</a>
					</div>
				</div>
			</div>
		</div>

		<div id="order_oper_detail">

		</div>

		<script src="/static/back_admin/js/jquery.min.js"></script>
		<script src="/static/back_admin/js/jquery.ui.custom.js"></script>
		<script src="/static/back_admin/js/bootstrap.min.js"></script>
		<script src="/static/back_admin/js/bootstrap-colorpicker.js"></script>
		<script src="/static/back_admin/js/bootstrap-datepicker.js"></script>
		<script src="/static/back_admin/js/jquery.uniform.js"></script>
		<script src="/static/back_admin/js/select2.min.js"></script>
		<script src="/static/back_admin/js/unicorn.js"></script>
		<script src="/static/back_admin/js/unicorn.form_common.js"></script>
		<script type="text/javascript">
            var task_condition = {{ task.wangwang_condition | safe }}
            console.log(task_condition)
            function filter(value, behind) {
                be = behind || ''
                if (value) {
                    return value.toString() + be
                }
                return '无'
            }
            var zzz =
                '<li>性别：' + filter(task_condition.tb_gender) + '</li>' +
                '<li>年龄：' + filter(task_condition.tb_age) + '</li>' +
                '<li>是否允许使用信用卡：' + filter(task_condition.tb_is_credit_card_open) +'</li>' +
                '<li>是否允许使用花呗：' + filter(task_condition.tb_is_huabei_open) +'</li>' +
                '<li>要求旺旺注册时间：' + filter(task_condition.tb_register_time, '年以前') +'</li>' +
                '<li>是否要求旺旺等级：' + filter(task_condition.tb_wangwang_level, '级') +'</li>' +
                '<li>是否要求假聊：' + filter(task_condition.tb_wangwang_level) +'</li>'
            console.log(zzz)
            $('#task_condition').html(zzz)
        </script>
	</body>
</html>
